.NIDbg{
        background-image: url('../../../../../Assets/bdflag.png');
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
}
.passportBg{
    background-image: url('../../../../../Assets/passportbg.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}